.title-section {
  display: flex;
  max-width: 900px;
  align-items: center;
  justify-content: center;
  position: relative; /* Occupe la place qu'elle avait initialement avant le déplacement, donc elle ne peut pas se superposer par-dessus un autre élément. Quand tu la bouges (top, bottom, left, right), elle bougera mais garde quand même de la place. */
  margin: 0 auto; /* Margin du haut et du bas sont 0 et la margin gauche et droite est auto, donc cela permet au texte de se centrer. */
}

.main-title {
  text-align: center;
  flex-grow: 1;
}

.return-button {
  position: absolute; /* Absolute : la place que le bloc occupait avant est éliminée. Cela peut maintenant interférer avec l'espace d'autres éléments. Contrairement à position : relative; */
  left: 20px;
  border-radius: 50px;
  text-align: left;
}

.return-button img {
  width: 50px;
  height: 50px;
  margin: 20px;
}

.return-button:hover {
  background-color: #555555;
  transform: scale(1.2);
}
